.footer {
    background-color: #ffffff;
}

.footer-header h6 {
    font-size: 14px;
    font-weight: bold;
    color: #002591;
    text-decoration: none;
}

.footer p{
    color: #444444;
    font-size: 14px;
    text-align: justify;
}

.footer li {
    list-style: none;
    padding: 0px;
}

.footer li a{
    font-size: 14px;
    color: #444444;
}

.footer li a:hover{
    font-weight: bold;
    text-decoration: none;
}

.bottom-footer {
    padding: 20px 0px;
    background-color: #ffffff;
    border-top: #f9570022  solid 1px;

}

.bottom-footer .bf1 {
    text-align: left;
}

.bottom-footer p{
    font-size: 12px;
    color: #444444;
}

.bottom-footer .bf2 {
    text-align: right;
}